*{
  box-sizing: border-box;
}

html{
  font-family: 'Times New Roman', Times, serif;
}

body{
  margin: 0;
  background-image: url("https://wallpaperaccess.com/full/5651978.png");
  background-size: cover;
  background-repeat: no-repeat;
}